<ActionBar>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label text="Simple Templates"></Label>
</ActionBar>

<GridLayout>
    <CollectionView [items]="items" [spanSize]="spanSizeSelector" (itemTap)="onItemTap($event)" 
        (loadMoreItems)="onLoadMoreItems()"
        [itemTemplateSelector]="templateSelector" colWidth="50%">
        <ng-template cvTemplateKey="item" let-item="item">
            <GridLayout rows="*, auto" [backgroundColor]="item.color">
                <StackLayout row="1" height="200" class="item">
                    <Label row="1" [text]="item.name" class="title"></Label>
                    <Label row="1" [text]="item.color" class="subtitle"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
        <ng-template cvTemplateKey="heading" let-item="item">
            <Label [text]="item.name" [backgroundColor]="item.color" textTransform="uppercase" color="white" fontSize="20"
                fontWeight="bold"  padding="25"></Label>
        </ng-template>
    </CollectionView>
</GridLayout>
